%h2 Change your password
%div.devise-form
  = form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f|
    = f.hidden_field :reset_password_token
    %div.form-group
      = f.label :password, "New password"
      %div.input-group
        %span.input-group-addon
        = f.password_field :password, :autofocus => true, :class => "form-control"
    %div.form-group
      = f.label :password_confirmation, "Confirm new password"
      %div.input-group
        %span.input-group-addon
        = f.password_field :password_confirmation, :class => "form-control"
    = f.submit "Change my password", :class => "btn btn-success btn-lg"
= devise_error_messages!
= render "devise/shared/links"
