.posts_container
  - @posts.each do |post|
    .panel.panel-default
      .panel-heading
        %b
        .glyphicon.glyphicon-book
        = link_to "#{post.title.capitalize}", post
        .pull-right
          .glyphicon.glyphicon-user
          = link_to "#{post.blogger.nickname}", show_blogger_profile_path(post.blogger.provider, post.blogger.nickname)
      .panel-body
        = BlueCloth.new(post.body).to_html.html_safe.match(/<p>([^<>]+)<\/p>(?=(<[^\/]|$))/).to_s.sub(/<p>/,'').sub(/<\/p>/,'')
        = link_to "... continue reading", post
      .panel-footer
        .glyphicon.glyphicon-tags
        - post.tags.each do |tag|
          = tag
    %hr
